#time{
    margin-top: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
}

footer {
    background: #192C66;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 15px;
    position: relative;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Dropdown styles */
.dropdown-menu {
    margin: -20px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.nav-item:hover .dropdown-menu {
    display: block;
}


.dropdown-item a {
    color: #359CD6;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.dropdown-item:hover li{
    color: #fff;
    background-color: #359CD6;
    
}


.title {
    margin: 60px 0;
    color: #359CD6;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.nav-item {
    padding: 0 16px;
    margin-top: 30px;
}
.nav-item p {
    color: #359CD6;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#time {
    width: 1280px;
    height: 360px;
    flex-shrink: 0;
}


#event img {
    background: linear-gradient(180deg, rgba(26, 30, 34, 0.20) 0%, rgba(26, 30, 34, 0.90) 100%);
   
}
.column {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}



.date-box {
    display: flex;
    position: absolute;
    top: 16px;
    left: 32px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    flex-direction: column;
justify-content: center;
    width: 142px;
    height: 19px;
}

.days-text{
    color: #359CD6;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 14px;
}

.days-text-2{
    color: #359CD6;
    
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.content {
    color: #1A1E22;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu {
    text-align: center;
}
.menu ul {
    display: inline-block;
    padding: 0 12px;
}
.menu a {
    text-decoration: none;
    color: #fff;
}

.menu li {
    padding: 6px 4px;
}

.imformation p{
    margin-top: 18px;
}

#colab img {
    width: 300px;
}